.section {
  margin-top: 0px;
  margin-bottom: 60px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.statBox {
  flex: 20%;
  padding: 40px 20px;
  margin: 16px;
  border: 1px dotted rgb(173, 183, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.statContent {
  text-align: center;
}

.counter {
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.8px;
  color: rgb(149 187 61);
  font-family: "Outfit", sans-serif;

  .value {
    flex-grow: 1;
  }
}

.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(95, 103, 110);
  font-family: "Inter", sans-serif;
}
