/* components/Services.module.css */
.servicesSection {
  text-align: center;

  background-color: #f8f4eb;
  position: relative;
}
.content {
  max-width: 1200px;
  margin: 10rem auto;
  padding: 3rem 0;
}

.servicesHeader {
  display: flex;
  align-items: center;
  @media (max-width: 767px) {
    padding: 0 2rem;
  }
}

.servicesHeader h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  line-height: 2.5rem;
}
.first {
  text-align: left;
  padding-bottom: 2rem;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
  }
  .squareBlue {
    width: 1rem;
    height: 1rem;
    // background-color: #f2b72f;
    p {
      color: blue;
    }
  }
}

.servicesHeader p {
  font-size: 16px;
  color: #666;
}

.servicesGrid {
  display: grid;
  grid-template-columns: 1fr; /* 1 column by default */
  gap: 20px;
  margin-bottom: 40px;
}

.serviceCard {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease;
  max-width: 100%;
}

.serviceCard:hover {
  transform: translateY(-5px);
}
.imageContainer {
  width: 100%; /* Set the desired width */
  height: auto; /* Set the desired height */
  overflow: hidden;
  display: inline-block;
}
.serviceImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.serviceCard h3 {
  font-size: 20px;
  margin: 16px 0;
  color: #333;
}

.serviceCard p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
}

.viewDetailsBtn {
  // background-color: #f8c10e;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
  width: 100%;
  text-align: center;
}

.viewDetailsBtn:hover {
  background-color: #e0a907;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.scheduleBtn {
  // background-color: #f8c10e;
  border: none;
  padding: 15px 30px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.scheduleBtn:hover {
  background-color: #e0a907;
}

.contactInfo {
  font-size: 16px;
  color: #666;
}

/* Responsive Design */
@media (min-width: 768px) {
  .servicesHeader h2 {
    font-size: 32px;
  }

  .servicesGrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
    gap: 30px;
  }

  .serviceCard h3 {
    font-size: 22px;
  }

  .serviceCard p {
    font-size: 16px;
  }

  .viewDetailsBtn {
    width: auto;
  }

  .actions {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .servicesHeader h2 {
    font-size: 36px;
  }

  .servicesGrid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on large screens */
  }

  .serviceCard {
    padding: 30px;
  }

  .serviceCard h3 {
    font-size: 24px;
  }

  .serviceCard p {
    font-size: 18px;
  }

  .scheduleBtn {
    padding: 20px 40px;
    font-size: 18px;
  }

  .contactInfo {
    font-size: 18px;
  }
}
